/* Profile Section */
.profile-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  flex: 1;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-cohort,
.profile-email,
.profile-phone {
  font-size: 16px;
  margin-bottom: 8px;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.profile-btn {
  background-color: rgb(68, 44, 123);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.profile-btn:hover {
  background-color: rgba(68, 44, 123, 0.8);
}

.profile-link {
  color: rgb(68, 44, 123);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.profile-link:hover {
  color: #0056b3;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-details {
    text-align: center;
  }

  .profile-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
