@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main Student Area */
.student-area-container {
  display: flex;
  height: 100vh;
}

/* Left Side Nav */
.student-side-nav {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
}

.student-nav-list {
  list-style-type: none;
  width: 100%;
}

.student-nav-list li {
  margin: 20px 0;
}

.student-nav-link {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

/* Both hover and active states will use the same color */
.student-nav-link:hover,
.student-nav-link.active {
  background-color: rgba(140, 109, 207, 0.771);
}

/* Right Display Area */
.student-display-area {
  margin-left: 250px;
  padding: 30px;
  flex: 1;
  background-color: rgb(246, 244, 249);
  height: 100%;
  overflow-y: scroll;
}

.student-display-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.student-display-message {
  font-size: 18px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .student-area-container {
    flex-direction: column;
  }

  .student-side-nav {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding: 10px 0;
  }

  .student-nav-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .student-nav-list li {
    margin: 0;
  }

  .student-nav-link {
    font-size: 14px;
    padding: 8px;
  }

  .student-display-area {
    margin-left: 0;
    padding: 20px;
  }
}

.nav-icon {
  margin-right: 10px;
  width: 16px;
}